<div id="404">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>Halaman yang anda minta tidak ada</h2>
    <div class="help">
      <p>Harusnya tidak error?<br/><span class="mobile-spacer">&nbsp;</span>Hubungi <a href="/contact">disini.</a></p>
    </div>
  </div>
</div>
