<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Masuk untuk melanjutkan</h1>
    <div class="login-form-container">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Alamat Surel" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Please provide a valid email address.</div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Kata sandi" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
          <div class="invalid-feedback" v-if="formErrors.password">Please enter your password.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label class="form-check-label" for="remember">Ingat saya</label>
        </div>
        <p class="text-danger" v-if="cloudError==='badCombo'"><small>Data yang anda masukan tidak sesuai.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Galat ketika memproses, coba lagi nanti atau hubungi <a href="/contact">Admin FRI</a> kalau masalahnya masih terjadi.</small></p>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Masuk</ajax-button>
        </div>
      </ajax-form>
      <!-- <p class="text-center"><a href="/password/forgot">Forgot your password?</a></p> -->
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
