<div id="contact" v-cloak>
  <br>
  <br>
  <div class="container">
    <h1 class="text-center">Kontak kami.</h1>
    <div class="contact-form" v-if="!cloudSuccess">
      <p class="text-center">Punya keluhan? Punya feedback tentang <%= sails.config.custom.platformName %>? Kami akan meresolve keluhan kamu. Hubungi kami melalui formulir berikut, kami akan membalas pesan kamu secepatnya.</p>
      <hr/>
      <ajax-form action="deliverContactFormMessage" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nama</label>
          <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Praise Setiawan" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Nama panggilan kamu.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Email address</label>
          <input class="form-control" id="email-address" name="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="praise@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Masukan email yang valid.</div>
        </div>
        <div class="form-group">
          <label for="topic">Topic</label>
          <input class="form-control" id="topic" name="topic" type="text"  :class="[formErrors.topic ? 'is-invalid' : '']" v-model.trim="formData.topic" placeholder="Tidak bisa login" autocomplete="none">
          <div class="invalid-feedback" v-if="formErrors.topic">Pilih topik pesan.</div>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" name="message" :class="[formErrors.message ? 'is-invalid' : '']" v-model.trim="formData.message" placeholder="Apakah email &quot;gmail&quot; dan &quot;hotmail&quot; di perbolehkan?" autocomplete="none"></textarea>
          <div class="invalid-feedback" v-if="formErrors.message">Pesan tidak boleh kosong.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Terjadi error, coba lagi atau hubungi <a href="mailto:admin@a.com">support</a> jika error nya masih ada.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Kirim pesan</ajax-button>
        </div>
      </ajax-form>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p class="text-center">Terima Kasih!</p>
      <hr/>
      <p>Kami sudah menerima pesan kamu, dan kami akan membalasnya secepat kilat.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
