<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="water" alt="The shadow of the floating ship on the water" src="/images/telu.png"/>
    </div>
      <h1 class="display-4"><strong>API</strong> TA Selection .</h1>
      <div>
      </div>
    </div>
  </div>
 </div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
