<html>  
    <head>
        <!-- Ambil axios dan kumpulan fungsi -->
        <script src="/dependencies/axios.min.js"></script>
        <script>
            async function handleDeleteStudent(e){ 
                const Studentid = e.target.id
                const url = '/edit/mahasiswa/' + Studentid
                await axios.delete(url)
                location.reload()
            }
            async function handleBack(e){
                const url = '/edit/mahasiswa/'
                location.href=(url)
            }
            async function handleAPI(e){
                const Studentid = e.target.id
                const url = '/apis/mahasiswa/' + Studentid
                location.href=(url)
            } 
        </script>
        <!-- Style css -->
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 80%; 
            }
            td, th {
                border: 1px solid #dddddd;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            } 
            .center {
                margin-left: auto;
                margin-right: auto;   
            }
            .font-center{
                text-align: center;
            }
            .ket{
                width: 20%;
                margin-left: 10vw;
            }
        </style>
    </head>
    <body>
        <!-- Header judul + auto ambil nama sama nim -->
        <!-- container ber-id welcome -->
        <div id="welcome">
        <% allStudent.forEach(p => {%> 
            <h1 class="font-center" >Detail Data Mahasiswa <%= p.nim %> (<%= p.name%>)</h1>
        <% }) %>
        <br>
        <br>
        <!-- List semua keterangan  -->
        <h2 style="margin-left: 10vw;">Keterangan :</h2>
            <br>
        <table class="ket">
            <tr>
                <th>ID</th>
                <th>Nama Peminatan</th>
                <th>Kode</th>
            </tr>
            <% allPeminatan.forEach(p => {%>
            <tr>
                <td><%= p.id %></td>
                <td><%= p.name %></td>
                <td><%= p.abbrev %></td>
            </tr>
        <% }) %>
        </table>
        <br>
        <br>
        <!-- Print list data yang diminta -->
        <% allStudent.forEach(p => {%>    
            <form action="/update/mahasiswa/<%= p.id %>" method="POST">
            <table class="center">
            <tr class="font-center">
            <th >NIM</th>
            <th>Nama</th>
            <th>Email</th>
            <th>Kelas</th>
            <th>IPK</th>
            <th>Peminatan</th>
            <th>KK</th>
            <th>Metlit</th>
            <th>TA</th>
            </tr>   
            <tr>
            <td><input class="form-control" id="<%= p.nim %>" name="nim" type="text"  value="<%= p.nim %>" ></td>
            <td><input class="form-control" id="<%= p.name %>" name="name" type="text"  value="<%= p.name %>" ></td>
            <td><input class="form-control" id="<%= p.email %>" name="email" type="text"  value="<%= p.email %>" ></td>
            <td><input class="form-control" id="<%= p.class %>" name="class" type="text"  value="<%= p.class %>" ></td>
            <td><input class="form-control" id="<%= p.ipk %>" name="ipk" type="number" value="<%= p.ipk %>" step="any" max="4.00" ></td>
            <td><input class="form-control" id="<%= p.peminatan %>" name="peminatan" type="text"  value="<%= p.peminatan %>" ></td>
            <td><input class="form-control" id="<%= p.kk %>" name="kk" type="text"  value="<%= p.kk %>" ></td>
            <td><input class="form-control" id="<%= p.metlit %>" name="metlit" type="text"  value="<%= p.metlit %>" ></td>
            <td><input class="form-control" id="<%= p.ta %>" name="ta" type="text"  value="<%= p.ta %>" ></td>
            <td><a id='<%= p.id %>' onClick="handleDeleteStudent(event)" class="btn btn-warning" style="color:black">Hapus</a>
            <td><button type="submit" class="btn btn-info" style="color:white">Edit</button>
            </td>
            </tr>
            </table>
            <br>
            <a class="btn btn-dark" style="margin-left:10vw; color:white" onClick="handleBack(event)">Kembali</a>
            <a id="<%= p.nim %>" class="btn btn-danger" style="color:white" onClick="handleAPI(event)">Lihat API</a>
            <% }) %>
            </form>
            <br>
        </div>
    </body>
</html>
