<html>  
    <head>
        <!-- Ambil axios & kumpulan fungsi -->
        <script src="/dependencies/axios.min.js"></script>
        <script>
            async function handleDeleteStudent(e){
                const Studentid = e.target.id
                const url = '/edit/mahasiswa/' + Studentid
                await axios.delete(url)
                location.reload()
            }
            async function handleEditStudent(e){ 
                const Studentid = e.target.id
                const url = '/detail/mahasiswa/' + Studentid
                location.href=(url)
            }
            async function handleAPI(e){
                const url = '/apis/mahasiswa/'
                location.href=(url)
            }
        </script>
        <!-- Style Css -->
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 80%; 
            }
            td, th {
                border: 1px solid #dddddd;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            } 
            .center {
                margin-left: auto;
                margin-right: auto;   
            }
            .font-center{
                text-align: center;
            }
            .ket{
                width: 20%;
                margin-left: 10vw;
            }
            .tengah{
                position: relative;
            }
            .tengah-horisontal {
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        <!-- Judul, container ber-id welcome & tombol lihat API -->
        <div id="welcome">
        <h1 class="font-center" >Master Data Mahasiswa</h1>
        <br>
        <div class="tengah">
            <div class="tengah-horisontal">
                <a onClick="handleAPI(event)" class="btn btn-danger" style="color:white">Lihat API Semua Mahasiswa</a>
            </div>    
        </div>
        <!-- List semua Keterangan -->
        <br>
            <h2 style="margin-left: 10vw;">Keterangan :</h2>
        <br>
        <table class="ket">
            <tr>
                <th>ID</th>
                <th>Nama Peminatan</th>
                <th>Kode</th>
            </tr>
            <% allPeminatan.forEach(p => {%>
            <tr>
                <td><%= p.id %></td>
                <td><%= p.name %></td>
                <td><%= p.abbrev %></td>
            </tr>
            <% }) %>
        </table>
        <br>
        <br>
            <!-- List semua mahasiswa -->
            <table class="center">
            <tr class="font-center">
            <th >NIM</th>
            <th>Nama</th>
            <th>Email</th>
            <th>Kelas</th>
            <th>IPK</th>
            <th>Peminatan</th>
            <th>KK</th>
            <th>Metlit</th>
            <th>TA</th>
            <th>EPRT</th>
            <th>FORM</th>
            </tr>
            <% allStudent.forEach(p => {%>             
            <tr>
            <td><%= p.nim %></td>
            <td><%= p.name %></td>
            <td><%= p.email %></td>
            <td><%= p.class %></td>
            <td><%= p.ipk %></td>
            <td><%= p.peminatan %></td>
            <td><%= p.kk %></td>
            <td><%= p.metlit %></td>
            <td><%= p.ta %></td>
            <td><%= p.eprt %></td>
            <td><%= p.form %></td>
            <td><a id='<%= p.id %>' onClick="handleDeleteStudent(event)" class="btn btn-warning" style="color:black">Hapus</a>
            <td><a id='<%= p.id %>' onClick="handleEditStudent(event)" class="btn btn-info" style="color:white">Edit</a>
            </td>
            </tr>
            <% }) %>
            </table>
        </div>
    </body>
</html>
